[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "<2.11"
numpy = "<2.0"
scikit-learn = "*"
matplotlib = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.10"
